﻿body {
    margin-top: 50px;
    background-color: #2f2f2f;
    margin-bottom: 10px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content { }

/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea { max-width: 100%; }

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    font-size: 1.3em;
    background-color: #f5f5f5;
}

.footer-text {
    font-size: 1.2em;
    color: white;
}

/***
    Login
***/

.login-header {
    font-size: 1.8em;
    color: white;
}

.login-label { color: white; }

/***
 Bootstrap overrides
***/

/***
 Navigation bar
***/

.navbar {
    background-color: #c44741;
    border-color: #2f2f2f;
}

.navbar-brand { font-size: 1.5em; }

.nav a { font-size: 1.2em; }

.nav li:hover a { background-color: #2f2f2f; }

.nav.navbar-nav.navbar-right li a { color: white; }

.navbar .navbar-brand { color: #ecf0f1; }

/***
 Panel
***/

.panel > .panel-heading {
    background-image: none;
    background-color: #c44541;
    border: 0;
    color: white;
    font-size: 1.5em;
}

.table-responsive { border: 0; }

.panel {
    border: none;
    background-color: white;
    margin: 2%;
}

.login-panel {
    border: none;
    background-color: #2f2f2f;
    width: 20%;
    margin: 0 auto;
    position: relative;
    right: 50px;
}

.user-panel {
    border: none;
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
}

.panel-body { margin: 2%; }

.panel-title { font-size: 1.0em; }

/***
 Table
***/

.table-responsive { margin: 20px; }

/**
  Modals
***/
.modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 300px;
}
/***
   Validation     
***/
.validation-summary-errors ul {
    padding: 0;
}

.validation-summary-errors li {
    list-style-type: none;
    font-size: 1.3em;
}