﻿@using Newtonsoft.Json
@model Tracky.Web.Models.CreateOrEditEventViewModel

<div class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Event information</h4>
        </div>
        <div class="panel-body text-center">
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group">
                @Html.LabelFor(model => model.Event.Name, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Event.Name, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Event.Name, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Event.MaxNumberOfParticipants, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Event.MaxNumberOfParticipants, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Event.MaxNumberOfParticipants, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Event.SecretCode, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Event.SecretCode, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Event.SecretCode, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Event.StartDateTime, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    <div class="input-group date" id="startDateTimePicker">
                        @Html.EditorFor(model => model.Event.StartDateTime, new {htmlAttributes = new {@class = "form-control"}})
                        <div class="input-group-addon">
                            <div class="glyphicon glyphicon-calendar"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Event.EndDateTime, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    <div class="input-group date" id="endDateTimePicker">
                        @Html.EditorFor(model => model.Event.EndDateTime, new {htmlAttributes = new {@class = "form-control"}})
                        <div class="input-group-addon">
                            <div class="glyphicon glyphicon-calendar"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Event.LocationName, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Event.LocationName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Event.LocationName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Event.Address, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Event.Address, new {htmlAttributes = new {@class = "form-control", id = "us3-address"}})
                    @Html.ValidationMessageFor(model => model.Event.Address, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Event.Latitude, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Event.Latitude, new {htmlAttributes = new {id = "latitude-field", @class = "form-control", @type = "number", @value = "0"}})
                    @Html.ValidationMessageFor(model => model.Event.Latitude, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Event.Longitude, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Event.Longitude, new {htmlAttributes = new {id = "longitude-field", @class = "form-control", @type = "number", @value = "0"}})
                    @Html.ValidationMessageFor(model => model.Event.Longitude, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div id="us3" style="height: 600px;"></div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value=" @ViewData["submitButtonTitle"]" class="btn btn-success btn-lg"/>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVZ8-dCUirxc58Y5Tzdzkm0FmXPIgr4pA&libraries=places"></script>
<script>
    $(function() {
        const dateFormat = "DD/MM/YYYY HH:mm";
        $('#startDateTimePicker').datetimepicker({
            format: dateFormat
        });
        $('#endDateTimePicker').datetimepicker({
            format: dateFormat
        });
    });

    $(document).ready(function() {

        const model = @Html.Raw(JsonConvert.SerializeObject(Model,
                          new JsonSerializerSettings() {
                              ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                          }))

        var latitude = null;
        var longitude = null;

        if (model) {
            latitude = $('#latitude-field').val();
            longitude = $('#longitude-field').val();
        }

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                const currentUserLocation = {
                    latitude: latitude == null ? position.coords.latitude : latitude,
                    longitude: longitude == null ? position.coords.longitude : longitude
                };
                console.log(currentUserLocation.latitude, currentUserLocation.longitude);
                setupLocationPicker(currentUserLocation);
            });
        };

        function setupLocationPicker(currentUserLocation) {
            $('#us3').locationpicker({
                location: {
                    latitude: currentUserLocation.latitude,
                    longitude: currentUserLocation.longitude
                },
                enableAutocomplete: true,
                enableReverseGeocode: true,
                radius: 0,
                inputBinding: {
                    latitudeInput: $('#latitude-field'),
                    longitudeInput: $('#longitude-field'),
                    locationNameInput: $('#us3-address')
                },
                oninitialized: function(component) {
                    setupFieldsWithModelData();
                },
                onchanged: function(currentLocation, radius, isMarkerDropped) {
                    const addressComponents = $(this).locationpicker('map').location.addressComponents;
                    console.log(currentLocation); //latlon
                    updateControls(addressComponents); //Data
                }
            });
        }

        function setupFieldsWithModelData() {
            if (model) {
                $('#latitude-field').val(model.Event.Latitude);
                $('#longitude-field').val(model.Event.Longitude);
                $('#us3-address').val(model.Event.Address);
            }
        }

        function updateControls(addressComponents) {
            console.log(addressComponents);
        }
    });
</script>