﻿﻿﻿﻿@model List<Tracky.Model.Event>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Events</h4>
        <div class="btn-group pull-right">
            <input type="button" class="btn btn-success" value="Create" onclick="location.href = '@Url.Action("Create", "Events")'"/>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover" id="eventsTable">
            <thead >
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Registered Users</th>
                <th>Secret Code</th>
                <th>Location Name</th>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Start DateTime</th>
                <th>End DateTime</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var eventModel in Model) {
                <tr>
                    <td>@eventModel.Id</td>
                    <td>@eventModel.Name</td>
                    <td>@eventModel.MaxNumberOfParticipants</td>
                    <td>@eventModel.RegisteredParticipantsCount</td>
                    <td>@eventModel.SecretCode</td>
                    <td>@eventModel.LocationName</td>
                    <td>@eventModel.Address</td>
                    <td>@eventModel.Latitude</td>
                    <td>@eventModel.Longitude</td>
                    <td>@eventModel.StartDateTime</td>
                    <td>@eventModel.EndDateTime</td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                            <button id="editUserButton" class="btn btn-primary btn-xs" onclick="location.href = '@Url.Action("Edit", "Events", new {eventModel.Id})'">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>

                        </p>
                    </td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                            <button id="deleteUserButton" class="btn btn-danger btn-xs" data-title="Delete" data-id="@eventModel.Id">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </p>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>

    <div class="modal fade" id="deleteEventModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">User information</h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>

        <script>
            //Initialize userTable with DataTables
            $(document).ready(function() {
                const table = $('#eventsTable').DataTable({
                    "pageLength": 25
                });

                table.on('click',
                    'button',
                    function() {
                        const eventId = table.row($(this).parents('tr')).data()[0];

                        switch (this.id) {
                        case "deleteUserButton":
                            deleteEventAjaxCall(eventId);
                            break;
                        }
                    });
            });

            /**
             * Ajax calls
             */
            function deleteEventAjaxCall(eventId) {
                $.ajax({
                    url: '@Url.Action("Delete", "Events")',
                    type: 'GET',
                    data: { 'id': eventId },
                    success: function(data) {
                        const modal = $('#deleteEventModal');
                        modal.find('.modal-body').html(data);
                        modal.modal('show');
                    }
                });
            }
        </script>

    </div>
</div>