@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model Tracky.Web.Models.CreateOrEditEventViewModel

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Registered Users</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Date Created</th>
                <th>Date Modified</th>
                <th>Add to event</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.RegisteredUsers) {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.DateCreated</td>
                    <td>@user.DateModified</td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Add to Event" onclick="location.href = '@Url.Action("AddUserToEvent", "Events", new {eventId = Model.Event.Id, userId = @user.Id})'">
                            <button class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </p>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Event Participants</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Date Created</th>
                <th>Date Modified</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.Event.Participants) {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.DateCreated</td>
                    <td>@user.DateModified</td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>

@using (Html.BeginForm("Edit", "Events")) {
    <text>
        @Html.Partial("_CreateOrEdit", new ViewDataDictionary(ViewData) { { "submitButtonTitle", "Update" }})
        @Html.HiddenFor(viewModel => Model.Event.Id)
    </text>
}