﻿﻿﻿﻿@model List<Tracky.Model.User>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Users</h4>
        <div class="btn-group pull-right">
            <input id="createUserButton" type="button" class="btn btn-success" value="Create"/>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover" id="usersTable">
            <thead >
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
@*                <th>Password</th>*@
                <th>Phone number</th>
                <th>Date Created</th>
                <th>Date Modified</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model) {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
@*                    <td>@user.Password</td>*@
                    <td>@user.PhoneNumber</td>
                    <td>@user.DateCreated</td>
                    <td>@user.DateModified</td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                            <button id="editUserButton" class="btn btn-primary btn-xs" data-id="@user.Id">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </p>
                    </td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                            <button id="deleteUserButton" class="btn btn-danger btn-xs" data-title="Delete" data-id="@user.Id">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </p>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>

    <div class="modal fade" id="userModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">User information</h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>

        <script>
            //Initialize userTable with DataTables
            $(document).ready(function() {
                const table = $('#usersTable').DataTable({
                    "pageLength": 25
                });

                table.on('click',
                    'button',
                    function () {
                        const userId = table.row($(this).parents('tr')).data()[0];
      
                        switch (this.id) {
                        case "editUserButton":
                            editUserAjaxCall(userId);
                            break;
                        case "deleteUserButton":
                            deleteUserAjaxCall(userId);
                            break;
                        }
                    });
            });

            $('#createUserButton').click(() => createUserAjaxCall());

            /**
             * Ajax calls
             */
            function createUserAjaxCall() {
                $.ajax({
                    url: '@Url.Action("Create", "Users")',
                    type: 'GET',
                    success: (data) => {
                        const modal = $('#userModal');
                        modal.find('.modal-body').html(data);
                        modal.modal('show');
                        $.validator.unobtrusive.parse("#createOrEditUserForm");
                    }
                });
            }

            function editUserAjaxCall(userId) {
                $.ajax({
                    url: '@Url.Action("Edit", "Users")',
                    type: 'GET',
                    data: { 'id': userId },
                    success: (data) => {
                        const modal = $('#userModal');
                        modal.find('.modal-body').html(data);
                        modal.modal('show');
                        $.validator.unobtrusive.parse("#createOrEditUserForm");
                    }
                });
            }

            function deleteUserAjaxCall(userId) {
                $.ajax({
                    url: '@Url.Action("Delete", "Users")',
                    type: 'GET',
                    data: { 'id': userId },
                    success: function(data) {
                        const modal = $('#userModal');
                        modal.find('.modal-body').html(data);
                        modal.modal('show');
                    }
                });
            }
        </script>

    </div>
</div>