@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model Tracky.Model.User

<form id="createOrEditUserForm" name="createOrEditUserForm" asp-controller="Users" asp-action="Create" method="post">
    @Html.Partial("_CreateOrEdit", new ViewDataDictionary(ViewData) {{"submitButtonTitle", "Create"}})
</form>