@model Tracky.Model.User

@using (Html.BeginForm("Delete", "Users")) {
    @Html.HiddenFor(viewModel => Model.Id)
    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?
                </div>

            </div>
            <div class="modal-footer ">
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>

        </div>
    </div>
}