@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model Tracky.Model.User

@using (Html.BeginForm("Edit", "Users")) {
    <text>
        @Html.Partial("_CreateOrEdit", new ViewDataDictionary(ViewData) {{"submitButtonTitle", "Update"}})
        @Html.HiddenFor(viewModel => Model.Id)
    </text>
}