﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using Tracky.Model
@model Tracky.Web.Models.LoginViewModel

<form asp-controller="Users" asp-action="Login" method="post">
    <div class="row">
        <div class="form-horizontal" style="margin-bottom: 15%;">
            <div class="panel-heading" style="text-align: center">
                <img src="http://angular.github.io/react-native-renderer/assets/react.png" alt="Tracky Logo" height="300" width="300" style="margin-top: 100px;">
            </div>
            <div class="panel login-panel">
                <div class="panel-body text-center">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label login-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label login-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-offset-3">
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-danger" />
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-info" value="Register" onclick="location.href = '@Url.Action("Register", "Users")'" />
                        </div>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.min.js"></script>
<script src="http://dkoscica-001-site3.gtempurl.com/signalr/hubs"></script>
<script type="text/javascript">

    /**
    $.connection.hub.url = 'http://dkoscica-001-site3.gtempurl.com/signalr';
    const userEventHub = $.connection.userEventHub;

    $.connection.hub.start({ withCredentials: false }).done(function () {
        alert('Now connected');

        userEventHub.server.pushNewEventUpdate();
    });


    userEventHub.client.onConnected = function (message) {
        alert(message);
        console.log(message);
    }

    userEventHub.client.onDisconnected = function (message) {
        alert(message);
        console.log(message);
    }

    userEventHub.client.getConnectedUsers = function (userList) {
        for (var i = 0; i < userList.length; i++)
            addUser(userList[i]);
    };

    userEventHub.client.newUserAdded = function (newUser) {
        addUser(newUser);
    }

    userEventHub.client.receiveEventUpdates = function (jsonData) {
        alert(jsonData);
    }

    **/


</script>