@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model Tracky.Model.User

@using (Html.BeginForm("Edit", "Users", FormMethod.Post)) {
    <text>
        <div class="panel user-panel">
            <div class="panel-heading">Profile information</div>
            <div class="panel-body text-center">
                @Html.Partial("_CreateOrEdit", new ViewDataDictionary(ViewData) {{"submitButtonTitle", "Update"}})
                @Html.HiddenFor(viewModel => Model.Id)
            </div>
        </div>
    </text>
}